/sara1/nbproject/private/
/sara1/build/
/sara1/dist/
/WebApplication1/nbproject/private/
/WebApplication1/build/
/sara2/nbproject/private/
/sara2/build/
/SaraCodigo/build/
/SaraCodigo/nbproject/private/
/SARA10/sra/nbproject/private/
/DB_SARA/Mysql/DB_SARA_MYSQL-57/SaraPro/build/
/DB_SARA/Mysql/DB_SARA_MYSQL-57/SaraPro/nbproject/private/
/SARA10/SARA10/sra/build/
/SARA10/SARA10/sra/dist/
/SARA10/SARA10/sra/nbproject/private/
/SARA10/sra/dist/
/SARA10/sra/build/
/Integracion/sra/nbproject/private/
/Integracion/sra/build/
/Integracion/sra/dist/
/PruebasJuan/Casi que no/sra/build/
/PruebasJuan/Casi que no/sra/nbproject/private/
/Pruebas Rama Miguel/Casi que no/sra/nbproject/private/
/Pruebas Rama Miguel/Casi que no/sra/build/
/sra/build/
/sra/dist/
/sra/nbproject/private/
/Pruebas Rama Miguel/Casi que no/sra/dist/
/Pruebas Rama Miguel/sra/build/
/Pruebas Rama Miguel/sra/dist/
/Sara_006_Correccion/APP/sra/nbproject/private/
/Sara_006_Correccion/APP/sra/dist/
/Sara_006_Correccion/APP/sra/build/