/sara1/nbproject/private/
/sara1/build/
/sara1/dist/
/WebApplication1/nbproject/private/
/WebApplication1/build/
/sara2/nbproject/private/
/sara2/build/
/SaraCodigo/build/
/SaraCodigo/nbproject/private/
/SARA10/sra/nbproject/private/
/DB_SARA/Mysql/DB_SARA_MYSQL-57/SaraPro/build/
/DB_SARA/Mysql/DB_SARA_MYSQL-57/SaraPro/nbproject/private/
/SARA10/SARA10/sra/build/
/SARA10/SARA10/sra/dist/
/SARA10/SARA10/sra/nbproject/private/
/SARA10/sra/dist/